.span8.offset2
  .hero-unit
    %p You need to log in first. Click the button below to sign in using Facebook.
    %a.facebook-login-button-large{href: user_omniauth_authorize_path(:facebook)}
      %span Connect with Facebook
